@model Eskul.Models.securitypram
@{

    var listmodel = Model.securityparams;
}

<br />
<div class="col-md-12">
<div class="card card-outline card-default">
        <div class="card-body">
<section class="content">
    <div class="container-fluid">
       
        <div class="row">

                        <div class="col-md-12" id="addClassFormContainer">
                <!-- general form elements -->
                <div class="box box-primary">
                                <div class="card-header mycard">
                                    <h3 class="card-title" style="font-weight: bold;">Edit Security Parameters</h3>
                                </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create" id="myform" class="needs-validation" novalidate>
                        <div class="card-body">
                             <div class="row">
                              <input type="hidden" asp-for="parameterid" />
                              <input type="hidden" asp-for="parametername" />
                                            <div class="form-group col-md-3">
                                <label for="parametername" style="font-weight:normal;">Name</label>
                                <input asp-for="parametername" name="parametername" class="form-control form-control-sm" autocomplete="off" disabled/>
                            <div class="invalid-feedback">This Field is Required</div>
                            </div>
                                            <div class="form-group col-md-3">
                                <label for="parametervalue" style="font-weight:normal;">Value</label>
                                <input asp-for="parametervalue" name="parametervalue" class="form-control form-control-sm" autocomplete="off" required/>
                            <div class="invalid-feedback">This Field is Required</div>
                            </div>
                                            <div class="form-group col-md-3">
                                <label for="parameterdesc" style="font-weight:normal;">Description</label>
                                <textarea asp-for="parameterdesc" class="form-control form-control-sm" autocomplete="off" required></textarea>
                            <div class="invalid-feedback">This Field is Required</div>
                            </div>
                                            <div class="form-group col-md-3" style="margin-top:30px;">
                                            <input type="submit" value="Save" class="btn btn-block btn-sm mybtn" />
                        </div>
</div>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
                </div>
            <!-- /.col-md-8 -->
                        <div class="col-md-12" id="tableContainer">
                <div class="box box-primary">
                     <div class="card-body">
                    <table id="example2" class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                   Name
                                </th>
                                <th>
                                   Value
                                </th>
                                <th>
                                  Description
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (listmodel!=null)
                                {
                                    @foreach (var item in listmodel)
                                    {
                                        <tr>
                                            <td>
                                                @item.parametername
                                            </td>
                                            <td>
                                                    @item.SYSCONFIGVALUE
                                            </td>
                                            <td>
                                                    @item.parameterdesc
                                            </td>
                                            <td>
                                                            <a asp-action="Edit" class="edit-button btn btn-xs btn-primary" asp-route-id="@item.SYSCONFIGID">Edit</a>
                                           </td>
                                        </tr>
                                    }
                                }
                            else
                                {
                                    <tr>
                                        <td colspan="5" class="text-centere">
                                                No Record Found
                                        </td>
                                       
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>
    </div>
</section>
 </div>
                </div>
            </div>