
<div class="modal fade" id="modal-info">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content bg-default" style="border-top: 2px solid orange;">
            <div class="card card-outline card-default" style="border-top: 2px solid orange;">
            <div class="modal-header" style="background:gray;">
                <h4 class="modal-title" style="font-size:14px; font-weight:bold;">Are you sure you want to Delete </h4>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-footer">
                <div class="justify-content-center d-none" id="loader">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <form id="confirm">
                    <input type="hidden" id="id" name="id" /> 
                    <div class="justify-content-between">
                        <button type="submit" class="btn btn-outline-dark btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="confirm" class="btn btn-outline-dark btn-sm btn-primary">Confirm</button>
                    </div>
                </form>
                
            </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
