@model object

@{
    ViewData["Title"] = "View Report Card";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-controller="ReportCard" asp-action="Index" target="_blank" class="btn btn-primary">View Report Card</a>
</p>
